extends layout

block content
  .inner
    h2 Edit Your Account
    pre= h.dump(user)
    form(aciton="/account" method="POST")
      label(for="name") name
      input(type="text" name="name" value=user.name)
      label(for="email") Email Address
      input(for="email" name="email" value=user.email)
      input.button(type="submit" value="Update My Account")
